* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: #000; 
	color: white;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
h1 {
	margin: 0;
	padding: 0;
	padding-right: 20px;
	padding-left: 20%;
	font-weight: 100;
	text-align: right;
	line-height: 75px;
	font-size: 30px;
}

.users__container {
	position: absolute;
	top: 0; bottom: 0;
	left: 0;
	width: 20%;
	padding: 20px;
	border-left: 4px solid #ec008c;
}
.users__container h2 {
	margin-bottom: 20px;
	color: white;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.users__container img {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 2px solid #ec008c;
	border-radius: 50%;
	box-shadow: 0 0 25px 0 #fff;
}

#messages {
	position: absolute;
	left: 20%; right: 0;
	top: 75px; bottom: 150px;
	background : white;
	padding: 20px;
	border-left: 4px solid #ec008c;
	overflow-y: scroll;
	/*box-shadow: inset 0 0px 20px -5px #ec008c;*/
}
.message {
	border: 1px solid #ec008c;
	background : #ec008c;
	padding: 12px 20px;
	color: white;
	border-radius: 4px;
}
.message img {
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	border-radius: 50%;
	box-shadow: 0 0 25px 0 #fff;
}
.message .info {
	display: inline-block;
	max-width: 80%;
	margin: 0; padding: 0;
	vertical-align: top;
}
.message .info p {
	margin: 0;
	padding: 0;
}
.the-message {
	margin: 12px 0 !important;
	padding: 0 12px !important;
	border-left: 5px solid white;
}
.container-form {
	position: absolute;
	left: 20%; right: 0;bottom: 0;
	height: 150px;
	padding: 20px;
	text-align: center;
	background: #000;
}
.container-form .row { margin: 0; }
.input-field { margin-top: 0; }

#loginform { margin-top: 25px; }