<html>
<head>
	<meta charset="UTF-8">
	<title>Application tchat : live tchat</title>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	<!--Import styles.css-->
	<link rel="stylesheet" href="css/styles.css">
	
	<!--Let browser know website is optimized for mobile-->
 	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1>Tchat en temps réel</h1>

	<div class="users__container">
		<h2>Utilisateurs connectés:</h2>
		<div id="users"></div>
	</div>

	<div id="messages">
		<div id="msgtpl" class="message" style="display: none;">
			<img src="{{{user.avatar}}}" alt="">
			<div class="info">
				<p>
					<strong>{{user.prenom}} {{user.nom}}</strong>
					<br>
					<small>{{user.email}}</small>
				</p>
				<p class="the-message">{{message}}</p>
				<span class="date">{{h}}:{{m}}</span>
			</div>
		</div>
	</div>
	
	<div class="container-form">
		<div class="row">
			<form action="" class="col s8 offset-s2" id="loginform">
				<div class="input-field col s4">
					<input type="text" name="login" id="username">
					<label for="username">Nom d'utilisateur</label>
				</div>
				<div class="input-field col s4">
					<input type="email" class="validate" name="mail" id="mail">
					<label for="mail" data-error="wrong" data-success="right">E-mail</label>
				</div>	
				<div class="input-field col s4">
					<button type="submit" class="btn waves-effect pink lighten-1">Connection</button>
				</div>
			</form>
		</div>
		
		<div class="row">
			<form action="" class="col s8 offset-s2 hide" id="form">
				<div class="input-field col s8">
					<textarea id="message" class="materialize-textarea"></textarea>
					<label for="textarea1">Message</label>
				</div>	
				<div class="input-field col s4">
					<button type="submit" id="send" class="btn waves-effect pink lighten-1">Envoyez</button>
				</div>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="js/mustache.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script src="http://localhost:1337/socket.io/socket.io.js"></script>
	<script src="js/client.js"></script>
</body>
</html>